@model WebApplication1.Models.ZayavkaOtvet

@{
    ViewBag.Title = "Ответы по заявкам";
}

<h2>Детали</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zayavka.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zayavka.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZayavkaAction.NmAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZayavkaAction.NmAction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZayavkaStatus.NmZStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZayavkaStatus.NmZStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
